name: Parser Lint

on:
  pull_request:
  workflow_dispatch:

jobs:
  parser-lint:
    name: parser-lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
          - "3.14"

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install the project
        run: cd mlh_parser && uv sync --locked --all-extras --dev

      - uses: astral-sh/ruff-action@v3
        name: Run linter
        with:
          src: "./mlh_parser"
