name: Parser Test

on:
  pull_request:
  workflow_dispatch:

jobs:
  parser-tests:
    name: parser-tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.12"
          - "3.14"

    steps:
      - uses: actions/checkout@v5

      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install NOX
        run: uv tool install nox

      - name: Install the project
        run: cd mlh_parser && uv sync --locked --all-extras --dev

      - name: Run tests
        run: cd mlh_parser && uv tool run nox
